.botoes-calculos {
	-fx-background-color: #041C32;
	-fx-cursor: hand;
}

.botoes-calculos:hover {
	-fx-background-color: #04293A;
}

.botoes-calculos:pressed{
    -fx-background-color: #041C32;
}


.botoes-calculos:showing {
    -fx-color: -fx-base;
}



.botoes-numericos {
	-fx-background-color: #393E46;
	-fx-cursor: hand;
}

.botoes-numericos:hover {
	-fx-background-color: #222831;
}

.botoes-numericos:pressed {
	-fx-background-color: #393E46;
}



.botao-resultado {
	-fx-background-color: blue;
	-fx-cursor: hand;
}

.botao-resultado:hover {
	-fx-background-color: darkblue;
}

.botao-resultado:pressed {
	-fx-background-color: blue;
}



.botao-apagar {
	-fx-background-color: #FF5733;
	-fx-cursor: hand;
	-fx-border-color:  #7F8487;
}

.botao-apagar:hover {
	-fx-background-color: #C70039;
}

.botao-apagar:pressed {
	-fx-background-color: #FF5733;
}